body{
    display: grid;
    background-color: #ffe4c4;
    height: -1500px;
    width: -10500px;

}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 6px beige;
    place-items: center;
    position: relative;
    top: -190px;
    left: 1050px;

    height: 400px;
    width: 400px;
}

#div1,#div2,#div3{
    height: 30px;
    width: 80px;
    border-radius: 60px;
    background-color: white;
    display: grid;
    place-items: center;
    position: relative;
    top: 20px;
    transition: 0.5s ease all;
    z-index: 1;
}

img{
    height: 100px;
    width: 100px;

}

p{
    text-align: center;
    font-family: auto;
    position: relative;
    top: -10px;
    
}

hr{
    margin-bottom: 40px;
}

#barra{
    background-color: rgb(230, 171, 120);
    height: 60px;
    width: 1510px;
    position: relative;
    top: -800px;
    border-radius: 10px;
}

#barra1{

    height: 40px;
    width: 110px;
    border-radius: 20px;
    background-color: white;
    align-content: center;
    text-align: center;
    position: absolute;
    top: 10px;
    left: 40px;
    z-index: 1;
}

h2{
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: -27px;
    left: 17px;
    font-size: 2rem;
    
}

.content{
    background-color: rgb(230, 171, 120);
    height: 200px;
    width: 60px;
    position: relative;
    top: -300px;
    border-radius: 10px;
    align-content: center;
}

#content1{
    align-content: center;
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 90px;
    position: relative;
    left: 5px;
    transition: 0.5s ease all;
    margin: 10px;
    

}

img{
    height: auto;
    text-align: center;
    height: 30px;
    width: 30px;
    position: relative;
    
    
    
}

.content1{
    background-color: rgb(230, 171, 120);
    height: 200px;
    width: 1400px;
    position: relative;
    top: -500px;
    left: 100px;
    border-radius: 10px;
    transition: 1s ease all;
    

}

#div1:hover,#div2:hover,#div3:hover{
    transform: scale(1.10);
    box-shadow: 0 0 20px black;
    background-color: cadetblue;
    

}

#content1:hover,.content1:hover{
    transform: scale(1.10);
    box-shadow: 0 0 20px black;
}


@keyframes move{
    0%{
        font-family: Arial, Helvetica, sans-serif;
    }
    50%{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    100%{
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
}